@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="welcome">
    <li>Love the Fatherland, love the people.</li>
    <li>Study well, work well.</li>
    <li>Be united, have good discipline.</li>
    <li>Keep good hygiene.</li>
    <li>Be modest, honest, and brave.</li>
</div>
<div class="user-info">
    <img style="width: 45px;" src="https://tse3.mm.bing.net/th?id=OIP.yB1ovYcd74zhMJtMhVYO-wHaHa&pid=Api&P=0&h=180" alt="User Picture">
    <div class="dropdown">

        <a asp-area="" asp-controller="Login_page" asp-action="Index">Logout</a>
    </div>
</div>












